/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
/* imposto larghezza delle immagini */
img{
    width: 100%;
}
/* Contenitore della pagina */
.container{
    margin: auto;
    /* questa sarà la larghezza standard di tutti gli elementi nella pagina inutile ribadirlo come attributo negli altri selettori*/
    width: 80%;

}
/* contentitore per titolo */
.header{
    display: inline-block;
    border-right: 1px solid lightgray;
    padding-right: 20px;
    margin-bottom: 20px;
}
/* attributi immagine titolo */
.header img{
    width: auto;
    height: 70px;
}
/* contenitore sotto al titolo */
.sub-header{
    margin-bottom: 20px;
}
/* MENU */
.menu ul{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding-right: 10px;
}
.menu a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}
/* banner metodo con background */
.banner{
    position: relative;
    height:600px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
.testo-banner{
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: white;
    
}
.title{
    margin-bottom: 20px;
}
.title p{
font-size: 14px;
}
/* contenitore principale */
.box{
    background-color: slateblue;
}
/* intestazione del box */
.testabox{
    margin-bottom: 20px;

    /* test */
    background-color: lightskyblue; 
    height: 70px;
}
/* inzio del box colonne */
.boxcolonne{
    width: 100%;
}
/* regola per il contenitore delle colonne */
.clearfix:after{
    content:"" ;
    display: table;
    clear: both;
}
/* regola per le colonne */
.col{
    float: left;
}
/* colonna sinistra */
.sinistra{
    width: 18%;
    margin-right: 2%;
    margin-bottom: 2%;
    /* test */
    height: 400px;
    background-color: lightskyblue;
}
/* colonna centrale */
.centro{
    width: 60%;

    /* test */
    height: 400px;
    background-color: lightskyblue;
}
/* colonna destra */
.destra{
    width: 18%;
    margin-left: 2%;

    /* test */
    height: 400px;
    background-color: lightskyblue;
}
/* Contenitore nel footer */
.stosotto{
    margin-top: 10px;
    /* test */
    height: 60px;
    background-color: purple;

}